{% extends "base.html.twig" %}
{% block body %}
    <div class="row">
        <button class="btn btn-lg btn-primary col-sm-3 ml-auto " id="produkty">
            Produkty
        </button>
        <button class="btn btn-lg btn-primary col-sm-3" id="treningy">
            Treningy
        </button>
        <button class="btn btn-lg btn-primary col-sm-3 mr-auto" id="pouzivatelia">
            Pouzivatelia
        </button>

    </div>
    <div class="row">
        <div class="col" id="contentContainer">

        </div>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}
{% block header_navigation_links %}
{% endblock %}